<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <mapping class="edu.cursor.u21.users.bankClient.Accounts.Account"/>
        <mapping class="edu.cursor.u21.users.bankClient.BankClient"/>
    </session-factory>
</hibernate-configuration>
